#navbar {
    background: transparent;
    position: inherit;
    top: 0;
    width: 100%;
    z-index: 1071;
    height: 2.8em;
    padding: 0.8rem 0 0 10.5rem;
    display: flex;
}

#navbar .page-title {
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.hamburger {
    display: none;
    color: #fff;
}

#close-sidebar {
    position: absolute;
    transition: all 0.33s ease;
    left: -100%;
    color: #fff;
}

.account-navbar {
    
}

@media only screen and (max-width: 600px) {
    #navbar {
        padding: 0.6rem 0 0 1rem;
    }

    .hamburger {
        display: block;
        margin-right: 1rem;
    }

    #close-sidebar {
        left: -100%;
        margin-left: 9.5rem;
    }
}